<div id="<%= dom_id laboratory %>">
  <p>
    <strong>Name:</strong>
    <%= laboratory.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= laboratory.location %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= laboratory.department_id %>
  </p>

</div>
